{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Data Table Example</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
$(document).ready(function() {
    $('#data-table').DataTable({
        ajax: {
            url: '{% url "studies_list" %}',
            type: 'GET',
            data: function(d) {
                d.start = d.start || 0; // Начальная позиция записей
                d.length = d.length || 10; // Количество записей на странице
                d.search = d.search || {}; // Параметры фильтрации
                d.search.value = d.search.value || ''; // Значение фильтра

                return d;
            },
            dataSrc: 'data',
        },
        serverSide: true,
        searching: true, // Server side searching enabled
        ordering: false,
        columns: [
            { data: 'id' },
            { data: 'patient_fio' },
            { data: 'patient_birthdate' },
            { data: 'study_uid' },
            {
                data: 'study_date',
                render: function(data) {
                    var date = new Date(data);
                    var formattedDate = date.toLocaleString();

                    return formattedDate;
                }
            },
            { data: 'study_name' },
            { data: 'study_short_code' },
        ],
    });
});
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
    <table id="data-table" class="table table-striped cell-border display compact" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО пациента</th>
                <th>Дата рождения</th>
                <th>UID исследования</th>
                <th>Дата исследования</th>
                <th>Название исследования</th>
                <th>Код исследования</th>
            </tr>
        </thead>
    </table>
        </div>
    </div>
</body>
</html>
