{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Data Table Example</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            var dataTable = new DataTable('#data-table', {
                ajax: {
                    url: '{% url "studies_list" %}',
                    type: 'GET',
                    data: function(d) {
                            d.start = d.start || 0;
                            d.length = d.length || 10;
                            d.search = d.search || {};

                            // Добавляем значение сортировки в запрос
                            var selectedValue = $('#sort-select').val();
                            d.order_by = selectedValue;

                            // Добавляем значение поля в запрос
                            var searchValue = $('#search-input').val();
                            var searchType = $('#search-type-select').val();
                            if (searchValue && searchType) {
                                d.search.value = searchValue;
                                d.search.type = searchType;
                            }

                            return d;
                    },
                dataSrc: 'data',
            },
            serverSide: true,
            searching: true,
            ordering: false,
            columns: [
                { data: 'id' },
                { data: 'patient_fio' },
                { data: 'patient_birthdate' },
                { data: 'study_uid' },
                {
                    data: 'study_date',
                    render: function(data) {
                        var date = new Date(data);
                        var formattedDate = date.toLocaleString();
                        return formattedDate;
                    }
                },
                { data: 'study_name' },
                { data: 'study_short_code' },
            ],
        });

    // Обработчик события изменения значения типа поиска
    $('#search-type-select').on('change', function() {
        var selectedType = $(this).val();

        // Очистить поле ввода и удалить атрибуты типа даты
        $('#search-input').val('').removeAttr('type', 'date');

        // Если выбран тип даты, преобразовать поле ввода в тип даты
        if (selectedType === 'patient_birthdate' || selectedType === 'study_date') {
            $('#search-input').attr('type', 'date');
        }
    });

        // Обработчик события изменения значения сортировки
        $('#sort-select').on('change', function() {
            dataTable.ajax.reload();
        });

        $('#search-button').on('click', function() {
            dataTable.ajax.reload();
        });
    });
    </script>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="sort-select">Сортировка:</label>
                    <select id="sort-select" class="form-control form-control-sm">
                        <option value="">Нет сортировки</option>
                        <option value="id">ID</option>
                        <option value="patient_fio">ФИО пациента</option>
                        <option value="patient_birthdate">Дата рождения</option>
                        <option value="study_uid">UID исследования</option>
                        <option value="study_date">Дата исследования</option>
                        <option value="study_name">Название исследования</option>
                        <option value="study_short_code">Код исследования</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search-type-select">Тип поиска:</label>
                    <select id="search-type-select" class="form-control form-control-sm">
                        <option value="">Выберите тип поиска</option>
                        <option value="id">ID</option>
                        <option value="patient_fio">ФИО пациента</option>
                        <option value="patient_birthdate">Дата рождения</option>
                         <option value="study_uid">UID исследования</option>
                        <option value="study_date">Дата исследования</option>
                        <option value="study_name">Название исследования</option>
                        <option value="study_short_code">Код исследования</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search-input">Поиск:</label>
                    <input id="search-input" class="form-control form-control-sm" type="text">
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-4">
                <button id="search-button" class="btn btn-primary">Найти</button>
            </div>
        </div>

        <table id="data-table" class="table table-striped cell-border display compact" style="width:100%">
            <thead>
                <tr>
                    <th data-orderable="true">ID</th>
                    <th data-orderable="true">ФИО пациента</th>
                    <th data-orderable="true">Дата рождения</th>
                    <th data-orderable="true">UID исследования</th>
                    <th data-orderable="true">Дата исследования</th>
                    <th data-orderable="true">Название исследования</th>
                    <th data-orderable="true">Код исследования</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

